$white: #fff !default;
$gray-100: #F2F2F2 !default;
$gray-200: #e9ecef !default;
$gray-300: rgba(255,255,255,.75) !default;
$gray-400: rgba(255,255,255,.67) !default;
$gray-500: rgba(255,255,255,.5) !default;
$gray-600: #676767 !default;
$gray-700: #4D4D4D !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

// Colors
$blue: #009edb !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #c00 !default;
$orange: #fd7e14 !default;
$yellow: #f80 !default;
$green: #77b300 !default;
$teal: #20c997 !default;
$cyan: #93c !default;

// Semantic Colors
$primary: $blue !default;
$secondary: $gray-700 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$yiq-contrasted-threshold: 175 !default;

// Body
$body-bg: $white !default;
$body-color: $gray-900 !default;

// Links
$link-color: rgba($primary, .75) !default;
$link-decoration: none !default;
$link-hover-color: $primary !default;

// darken($primary, 15%) !default;
$link-hover-decoration: underline !default;


// Typography

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;



// Headings
$h1-font-size: 4.5rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2.25rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.125rem !default;
$h6-font-size: 0.875rem !default;
$headings-color: inherit !default;
$headings-line-height: 1.2 !default;
$headings-font-weight: 700 !default;

// Leads and Displays
$lead-font-weight: 400 !default;
$display1-size: 6rem !default;
$display2-size: 5.25rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;
$display1-weight: 500 !default;
$display2-weight: 500 !default;
$display3-weight: 500 !default;
$display4-weight: 500 !default;
$display-line-height: 1.1!default;
$text-muted: rgba($black, .6) !default;

// UI Components
// Tables
$table-color: $black !default;
$table-accent-bg: rgba($black, .05) !default;
$table-hover-bg: rgba($black, .075) !default;
$table-border-color: $gray-700 !default;
$table-dark-bg: $gray-500 !default;
$table-dark-border-color: darken($gray-500, 7.5%) !default;

// Buttons
$input-btn-padding-x: 1rem !default;

// Forms
$input-disabled-bg: $gray-400 !default;
$input-border-color: $black !default;
$input-group-addon-color: $black !default;
$input-group-addon-bg: $gray-700 !default;
$input-group-addon-border-color: transparent !default;
$custom-file-color: $black !default;
$custom-file-border-color: $gray-700 !default;

// Dropdowns
$dropdown-bg: $gray-700 !default;
$dropdown-divider-bg: $gray-800 !default;
$dropdown-link-color: $black !default;
$dropdown-link-hover-color: $black !default;
$dropdown-link-hover-bg: $primary !default;

// Navs
$nav-tabs-border-color: $table-border-color !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $black !default;
$nav-tabs-link-active-bg: $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar
$navbar-dark-hover-color: $white !default;

// Pagination
$pagination-color: $white !default;
$pagination-bg: $gray-700 !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-bg: $pagination-bg !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Jumbotron
$jumbotron-color: $white !default;
$jumbotron-bg: none !default;
$jumbotron-padding: 2.5rem !default;

// Cards
$card-spacer-y: 1rem !default;
$card-spacer-x: 0 !default;
$card-border-color: none default;
$card-cap-bg: none !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: $black !default;
$card-bg: none !default;
$card-img-overlay-padding: 1.5rem !default;

// Tooltips
$tooltip-bg: $gray-700 !default;
$tooltip-opacity: 1 !default;

// Popovers
$popover-bg: $gray-700 !default;

// Toasts
$toast-color: $white !default;
$toast-background-color: $gray-800 !default;
$toast-border-color: $gray-700 !default;
$toast-header-color: $body-color !default;
$toast-header-background-color: $toast-background-color !default;
$toast-header-border-color: $toast-border-color !default;

// Modals
$modal-content-bg: $gray-800 !default;
$modal-header-border-color: $gray-700 !default;

// Progress bars
$progress-bg: $gray-700 !default;

// List group
$list-group-bg: $gray-800 !default;
$list-group-border-color: $gray-700 !default;
$list-group-hover-bg: $primary !default;
$list-group-disabled-bg: $gray-700 !default;
$list-group-action-active-bg: $primary !default;

// Breadcrumbs
$breadcrumb-font-size: none !default;
$breadcrumb-padding-y: .5rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 1rem !default;
$breadcrumb-bg: none !default;
$breadcrumb-divider-color: $white !default;
$breadcrumb-active-color: $white !default;
$breadcrumb-divider: quote("▸") !default;

// Close
$close-color: $white !default;
$close-text-shadow: none !default;

// Code
$pre-color: inherit !default;



// Spacing
$spacer: 2rem !default;

/* 32px */
$spacers: () !default;

/* 8px, 16px, 32px, 48px, 64px */
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    25: ($spacer * .75),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3),
    7: ($spacer * 4)
  ),
  $spacers
);

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 752px,
  md: 992px,
  lg: 1248px,
  xl: 1376px
) !default;

// Grid containers
$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1216px,
  xl: 1344px
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 4rem !default;
$grid-row-columns: 6 !default;
